@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Playfair+Display");

* {
  margin: 3px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  font-family: "Noto Sans";
  background: #eee;
}

a {
  font-family: "Playfair Display";
  font-size: 2rem;
  text-decoration: none;
  color: #666;
}

a.active {
  color: #333;
}
